/* ==============================
   VARIÁVEIS GLOBAIS
   ============================== */

:root {
  /* CORES */
  --cor-primaria: #2E4057;
  --cor-secundaria: #FD6C22;
  --cor-branca: #ffffff;
  --cor-fundo-escuro: #040203;
  --cor-fundo-cinza-escuro: #282828;
  --cor-fundo-cinza-claro: #353535;

  /* FONTES */
  --fonte-primaria: 'Poppins', sans-serif;
  --fonte-secundaria: 'Raleway', sans-serif;

  --fonte-gigante: 4.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.4rem;
  --fonte-normal: 1.6rem;

  /* LAYOUT */
  --mobile-padding: 30px;
}

/* ==============================
   LIGHT MODE (SOBRESCREVE CORES)
   ============================== */

body.light-mode {
  --cor-fundo-cinza-escuro: #D1E3F8;
  --cor-fundo-escuro: #A2C7F0;
  --cor-fundo-cinza-claro: #FFFFFF;

  /* texto escuro para leitura no fundo claro */
  --cor-branca: #0D1B2A;

  /* mantém identidade visual */
  --cor-primaria: #2E4057;
  --cor-secundaria: #FD6C22;
}
